<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <display-name>FilterDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>loginFilter</filter-name>
    <filter-class>com.simpilearn.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/dashboard</url-pattern>
    <url-pattern>/profile</url-pattern>
  </filter-mapping>
  
  
  <servlet>
    <servlet-name>AccountDashboard</servlet-name>
    <servlet-class>com.simpilearn.filter.AccountDashboard</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AccountProfile</servlet-name>
    <servlet-class>com.simpilearn.filter.AccountProfile</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InfoPage</servlet-name>
    <servlet-class>com.simpilearn.filter.InfoPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountDashboard</servlet-name>
    <url-pattern>/dashboard</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>AccountProfile</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>InfoPage</servlet-name>
    <url-pattern>/info</url-pattern>
  </servlet-mapping>
  
</web-app>