input[type=text], input[type=password], input[type=email], input[type=number] {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.btn {
  background-color: #f9004d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
	border-radius: 5px;
}
.inline {
	display: inline-block;
	width: 49%;
}
label {
	display: block;
}