<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <display-name>JDBCSetup</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>DemoJDBC</servlet-name>
    <servlet-class>com.simplilearn.jdbc.DemoJDBC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoJDBC</servlet-name>
    <url-pattern>/init</url-pattern>
  </servlet-mapping>
  
</web-app>
