<web-app>

  <display-name>JDBC Statements and Resultsets</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ProductDetails</servlet-name>
    <servlet-class>com.ecommerce.connectivity.ProductDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDetails</servlet-name>
    <url-pattern>/list</url-pattern>
  </servlet-mapping>
  
</web-app>
